<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Concours du Meilleur Déssinateur</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="wrapper img" style="background-image: url(../../../../assets/im/img.jpeg);">
          <div class="row">
            <div class=" bg-light col-md-7 col-lg-7">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">Inscrivez-vous</h3>
                <p class="alert alert-danger" *ngIf="erreur" class="mb-4 text-danger">
                  {{errormessage}}
                </p>
                <p class="alert alert-success" *ngIf="reussi" class="mb-4 text-success">
                  {{message}}
                </p>
                <form (ngSubmit)="creationDessinateur()" class="contactForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" >Nom </label>
                        <input type="text" [(ngModel)]="dessinateur.nomcomplet" class="form-control" name="nom"
                         placeholder="Nom" required="true">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" >Téléphone</label>
                        <input type="number" class="form-control" [(ngModel)]="dessinateur.telephone"
                         name="telephone"
                         placeholder="+243 81 65 382" required >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label">Adresse mail</label>
                        <input type="email" [(ngModel)]="dessinateur.mail" class="form-control"
                         name="mail" id="mail"
                         placeholder="roberts@buania.com">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" >Sexe</label>
                        <select class="form-control" [(ngModel)]="dessinateur.sexe" name="sexe" >
                          <option value="homme">homme</option>
                          <option value="femme">femme</option>
                        </select>
                      </div>
                    </div>
                     <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" >Adresse physique</label>
                        <input type="text" [(ngModel)]="dessinateur.adresse" required class="form-control" name="adresse"
                         placeholder="Adresse physique">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="label" >Devise</label>
                        <select class="form-control" [(ngModel)]="dessinateur.devise" name="USD" >
                          <option value="USD">USD</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="label" >Montant</label>
                        <input type="number" disabled class="form-control" name="mail" value="14"
                         placeholder="14$">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="label" >Confirmation Par</label>
                        <select class="form-control" [(ngModel)]="confirmation" name="confirmation" >
                          <option value="sms">SMS</option>
                          <option value="mail">Mail</option>
                        </select>
                      </div>
                    </div>


                    <div class="col-md-12">
                      <div class="form-group" style="display:flex ;justify-content:center ;align-items: center;">
                        <input type="submit" value="S'inscrire" class="btn btn-primary">
                      </div>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
