<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Concours du Meilleur Déssinateur</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="wrapper img" style="background-image: url(../../../../assets/im/img.jpg);">
          <div class="row">
            <div class="b col-md-9 col-lg-7">
              <div class=" contact-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">Inscrivez-vous</h3>
                <div id="form-message-warning" class="mb-4"></div>
                <div id="form-message-success" class="mb-4">
                  L'inscription a reussie, veuillez consulter votre adresse mail
                </div>
                <form class="contactForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="nom">Nom </label>
                        <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" >E-mail</label>
                        <input type="email" class="form-control" name="mail" id="mail"
                         placeholder="mail">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" >Téléphone</label>
                        <input type="number" class="form-control" name="telephone"
                         placeholder="+243 81 65 382">
                      </div>
                    </div>
                     <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" >Adresse physique</label>
                        <input type="text" class="form-control" name="mail"
                         placeholder="mail">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" >Devise</label>
                        <select class="form-control" name="sexe" id="sexe">
                          <option value="USD">USD</option>
                          <option value="CDF">CDF</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" >Montant</label>
                        <input type="number" disabled class="form-control" name="mail" value="28000|14$"
                         placeholder="28000Fc|14$">
                      </div>
                    </div>


                    <div class="col-md-12">
                      <div class="form-group" style="display:flex ;justify-content:center ;align-items: center;">
                        <input type="submit" value="S'inscrire" class="btn btn-primary">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
