<footer class="footer-10">
    <div class="container">
        <div class="row mb-5 pb-3 no-gutters">
            <div class="col-md-4 mb-md-0 mb-4 d-flex">
                <div class="con con-1 w-100 py-5">
                    <div class="con-info w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-mobile"></span>
                        </div>
                        <div class="text">
                            <span>+243 81 49 98 464</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4 d-flex">
                <div class="con con-2 w-100 py-5">
                    <div class="con-info w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <div class="text">
                            <span>buania@accessjob.online</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4 d-flex">
                <div class="con con-3 w-100 py-5">
                    <div class="con-info w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-address-card"></span>
                        </div>
                        <div class="text">
                            <span>44 av. de la Démocratie, kinshasa gombé RDC,</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">AccessJob</h2>
                        <ul class="list-unstyled">
              <li><a href="#" class="d-block">Qui sommes-nous</a></li>
              <li><a href="#" class="d-block">Nos objectifs</a></li>
              <li><a href="#" class="d-block">Equipes</a></li>
            </ul>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">KAYEMBE</h2>
                        <ul class="list-unstyled">
              <li><a routerLink="billet"lass="d-block">Achat Billet</a></li>
            </ul>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">Programmes KAYEMBE </h2>
                        <ul class="list-unstyled">
                          <li><a routerLink="entrepreneur"lass="d-block">Jeune entrepreneur</a></li>
                          <li><a routerLink="bourse"class="d-block">Obtenir une bouse</a></li>
                          <li><a routerLink="imitateur" class="d-block">Meilleur imitateur</a></li>
                          <li><a routerLink="dessinateur" class="d-block">Meilleur Déssinateur</a></li>
            </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-md-0 mb-4">
                <h2 class="footer-heading">S'abonner</h2>
                <form  class="subscribe-form">
      <div class="form-group d-flex">
        <input type="text" class="form-control rounded-left" placeholder="adresse mail">
        <button type="submit" class="form-control submit rounded-right">S'abonner</button>
      </div>
      <span class="subheading"></span>
    </form>
            </div>
        </div>
        <div class="row mt-5 pt-4 border-top">
  <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
    <p  style="text-align: center" class="copyright mb-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Toute reproduction reservée<i class="ion-ios-heart" aria-hidden="true"></i> Oeuvre d' <a href="https://accessjob.online" target="_blank">Access Job Africa</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
  </div>
  <div class="col-md-6 col-lg-4 text-md-right">
      <ul class="ftco-footer-social p-0">
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"></span></a></li>
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span></a></li>
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
    </ul>
  </div>
</div>
    </div>
</footer>
