<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">

    <div class="" >

    <p style="font-size:1rem ;">
      En payant sur ce site, afin de suivre KAYEMBE LA REVANCHE,
      En Achetant votre billet en toute tranquilité, un lien vous sera envoyé via mail ou télépone afin
        suivrez le retour de KAYEMBE LE TENACE
    </p>
    <div class="btn btn-suucces">
      <a style="font-size:1.5rem ;" href="https://www.kayembeletenace.com/">Bande d'annonce</a>
    </div>
    </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper">

          <div class="row no-gutters">
            <div class="col-md-5 d-flex align-items-stretch">
              <div class="info-wrap w-100 p-5 img" style="background-image: url(../../../../assets/im/kay-1.png);">
              </div>
            </div>
            <div class="col-md-7">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">
                </h3>
                <div id="form-message-warning" class="mb-4"></div>
                <div id="form-message-success" class="mb-4">

                </div>
                <form   class="contactForm">
                  <div class=""></div>
                  <div class="row">
                    <div class="col-12">
                      <h3>Achatez votre Billet</h3>
                    </div>
                    <div class="col-md-6">

                      <div class="form-group">
                        <label class="label" for="name">Votre Nom</label>
                        <input type="text" class="form-control" name="nom" id="nom"
                         placeholder="Nom ">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="email">Adresse Mail</label>
                        <input type="email" class="form-control" name="email"
                         id="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="subject">Télephone</label>
                        <input type="number" class="form-control"
                        name="telephone"id="telephone" placeholder="Télephone">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group" style="display:flex ;justify-content:center ;align-items: center;">
                        <input type="submit" value="Acheter" class="btn btn-primary">

                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
