<!-- <div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>


<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">buania@accessjob.online</span></a>
        <span class="mx-md-2 d-inline-block"></span>
        <a href="" class=""><span class="mr-2  icon-phone"></span> <span class="d-none d-md-inline-block">+243 81 49 98 464</span></a>


        <div class="float-right">

          <a href="#" class=""><span class="mr-2  icon-twitter"></span> <span class="d-none d-md-inline-block">Twitter</span></a>
          <span class="mx-md-2 d-inline-block"></span>
          <a href="#" class=""><span class="mr-2  icon-facebook"></span> <span class="d-none d-md-inline-block">Facebook</span></a>

        </div>

      </div>

    </div>

  </div>
</div>

<header class="site-navbar js-sticky-header site-navbar-target" role="banner">

  <div class="container">
    <div class="row align-items-center position-relative">


      <div class="site-logo">
        <a href="index.html" class="text-black"><span class="text-primary">Access Job Africa </span> </a>
      </div>

      <div class="col-12">
        <nav class="site-navigation text-right ml-auto " role="navigation">

          <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
            <li><a routerLink="accueil"class="nav-link">Accueil</a></li>
            <li><a routerLink="dessinateur"lass="nav-link">Dessinateur</a></li>


            <li class="has-children">
              <a routerLink="billet" class="nav-link">Payer son Billet</a>
              <ul class="dropdown arrow-top">
                <li><a routerLink="billet" class="nav-link">Paiement direct</a></li>
                <li><a routerLink="billet" class="nav-link">Avec Code promo</a></li>

              </ul>
            </li>

            <li><a routerLink="imitateur" class="nav-link">Imitateur</a></li>

            <li><a routerLink="boursier" class="nav-link">Bourse</a></li>
            <li><a routerLink="entrepreneur"class="nav-link">Jeune entrepreneur</a></li>
          </ul>
        </nav>

      </div>

      <div class="toggle-button d-inline-block d-lg-none">
        <a  class="site-menu-toggle py-5 js-menu-toggle text-black">
          <span class="icon-menu h3"></span></a></div>

    </div>
  </div>

</header> -->

  <div class="container">
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" routerLink="accueil" >Access job Africa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto mr-md-3">
            <li class="nav-item active"><a routerLink="accueil" class="nav-link">Accueil</a></li>
            <li class="nav-item"><a routerLink="dessinateur" class="nav-link">Dessinateur</a></li>
            <li class="nav-item"><a routerLink="imitateur" class="nav-link">Imitateur</a></li>
            <li class="nav-item"><a routerLink="boursier" class="nav-link">Bourse</a></li>
            <li class="nav-item"><a routerLink="entrepreneur" class="nav-link">Jeune entrepreneur</a></li>
            <li class="dropdown nav-item d-md-flex align-items-center">
              <a routerLink="billet" class="dropdown-toggle nav-link d-flex align-items-center justify-content-center icon-cart p-0" id="dropdown04" data-toggle="dropdown" aria-expanded="false">
                Billet
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown04">
                <a routerLink="billet" class="dropdown-item">Acheter son billet</a>
                <a routerLink="billet" class="dropdown-item">Achat avec code promo</a>
                
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- END nav -->
  </div>